.container {
  max-width: 900px !important;
}

.App {
  text-align: center;
  background-color: black;
}

.App-header {
  background-color: black;
  height: 50px;
  padding: 20px;
  color: white;
}

.container{
  max-width: 800px;
  background-color: black;
  padding: 20px;
}

.header{
  margin-top:10px;
}

td,th{
  font-size: 18px;
}

.Bus-header {
  background-color: black;
  font-size: large;
  color: white;
}

.chart-white line{
  stroke: white !important;
}
 
.chart-white path{
  stroke: white !important;
}

.chart-white text{
  fill: white !important;
}

.axis > text{
  transform: translate(-65)  !important;
}

.x text {
  transform: translateX(-65%) rotate(-22deg) !important;
}

.chart-white path {
  stroke: black !important;
}

.chart-pie text {
  font-size: 12px;
}

.chart-bar, .chart-pie{
  border-bottom:0px !important;
}

g.react-d3-core__axis__xAxis.axis.x text{
  -webkit-transform: translateY(25px) translateX(-20px) rotate(-30deg) !important;
  -ms-transform: translateY(25px) translateX(-20px) rotate(-30deg) !important;
  transform: translateY(25px) translateX(-20px) rotate(-30deg) !important;
}

text.react-d3-core__label.label{
  transform: translateY(50px) !important;
}

.chart-header-background.legend {
  background-color: #000 !important;
}

.chart-header-background.legend {
  font-size: 12px;
  -webkit-transform: translateX(-23px) !important;
  -ms-transform: translateX(-23px) !important;
  transform: translateX(-23px) !important;
}

.Bus-table {
  background-color: black;
  height: 400px;
  font-size: 50px;
  color: white;
}

.stastistics-header{
  padding-top:20px !important;
  border-bottom: 0px !important;
}

.clock {
  font-size: 125px;
  margin-bottom: 75px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;;
  justify-content: space-between;
}

.animation{
  min-width:100% !important;
}

.animation-enter {
  opacity: 0.01;
}

.animation-enter.animation-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.hidden{
  display:none;
}

status > h1 { display: inline-block; }
status span { margin-left: 10px; text-align: right; }

.bar-image{
  margin-bottom:12px;
}

.animation-leave {
  opacity: 1;
}

.animation-leave.animation-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.temp-container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.weather {
  min-height: 270px !important;
}

.widget-busses {
  min-height: 270px !important;
}

.align-right {
  text-align: right;
}

.weather-image {
  height: 30px;
  filter: grayscale(100%);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
